<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign In - Polycast</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    </head>
    
    <body>
        <div class="auth-ctn">
            <div class="auth-wrapper">
                <!-- Logo Header -->
                <header class="logo-header">
                    <image src="../static/images/icons/polycast-white.svg">
                </header>
                
                <!-- Main Sign-In Card -->
                <main class="signin-container">
                    <div class="signin-card">
                        <h2>{% block card_header %}{% endblock %}</h2>
                        
                        {% block card_content %}
                            <!-- Content  -->

                        {% endblock %}
                    </div>
                </main>
                
            </div>
        </div>
    </body>
    
</html>