{% extends "_layouts/auth.html" %}


{% block card_header %}
    Sign In your
    Admin Account
{% endblock %}

{% block card_content %}

    <!-- Auth Error Block  -->
    {% if error %}
        <div class="alert-error">{{ error }}</div>
    {% endif %}
    
    
    <!-- Sign In Form -->
    <form method="POST" id="signInForm">
        <div class="form-group">
            <input type="text" name="username" placeholder="Username" required>
            <!-- This error message matches your image -->
            <p class="error-message" id="emailError">Admin account doesn't exist</p>
        </div>

        <div class="form-group">
            <input type="password" name="password" placeholder="Password" required>
        </div>

        <button type="submit" class="signin-button">Sign In</button>
    </form>

    <!-- Bottom Links -->
    <div class="links-container">
        <!-- <a href="#" class="forgot-password">Forgot Password?</a> -->
        <p class="signup-link">
            Don't have an account? <a href="{{ url_for('register_page') }}">Sign Up</a>
        </p>
    </div>

{% endblock %}
