# --- Python cache ---
__pycache__/
*.py[cod]

# --- Test cache ---
.pytest_cache/

# --- Environments (dependent) ---
.venv/
.conda/
.env

# --- Logs Files ---
logs/
*.log

# --- Databases ---
instance/
*.db

# --- CSS maps (any) ---
*.css.map

# --- Generated Frames or Notes ---
archive/
app/static/gallery_images/

# --- sample and output data ---
*.csv

# --- docs and claude md files (temporary, for calibrating) ---
docs/
claude.md