# ----------------------------------------------------
# ENVIRONEMENTS
# - (purpose) creating compatible env for production,
#   ensuing compatible with the Raspberry Pi 4B
# - This version are reliant to standard python venv
#
# [ Note: Reccomended to use the conda for dev pc ]
# ----------------------------------------------------

# Core Python Version
# python==3.15.~


# Data Science & Numerical Analysis
numpy
pandas
scipy
scikit-learn
scikit-image
statsmodels
sympy
matplotlib
seaborn
plotly
bokeh
xarray
numba
numexpr
tables
h5py
dask
distributed

# Web Frameworks & APIs
streamlit
fastapi
uvicorn
Flask
flask-socketio
flask_sqlalchemy
starlette
requests
urllib3
aiohttp
websockets
websocket_client
websocket_server
python-socketio
python-engineio

# Database & Storage
SQLAlchemy
openpyxl
xlwings
s3fs
botocore
aiobotocore

# Hardware, Graphics & UI
pyserial
pyopengl
pyqtgraph
pyqt5
Pillow
imageio
tifffile

# Automation & Scraping
scrapy
beautifulsoup4
lxml
pyyaml

# Utilities & Dev Tools
pydantic
pydantic-settings
tqdm
click
typer
rich
python-dotenv
cryptography
paramiko
bcrypt
python_bcrypt
psutil
watchdog
colorama