/* --- Quick Actions (Icon Buttons) --- */
.quick-actions {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 0.75rem;
    margin-bottom: 2rem;
    
    .qa-button {
        display: flex;
        align-items: center;
        gap: 1rem;

        padding: 0.5rem 2rem;
        background-color: #ffffff;
        border: 1px solid #000425;
        border-radius: 0.75rem;

        font-family: 'Poppins-M';
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);

        color: inherit;        
        text-decoration: none; 

        &:hover {
            background-color: #DBEEFF;
        }

        svg.qa-icon {
            width: 1rem;
            height: 1rem;
            color: var(--color-primary);
            fill: var(--color-primary);
        }
    }

    .qa-button.active {
        background-color: #DBEEFF;
        border: none;

        svg.qa-icon {
            color: #DBEEFF;
            fill: #DBEEFF;
        }
    }
}

/* Small size */
@media (min-width: 640px) {
    .quick-actions {
        gap: 1rem;
        
        .qa-button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.75rem;

            padding: 1rem 0.5rem;
            background-color: #ffffff;
            border: 1px solid #000425;
            border-radius: 1rem;
        }
    }
}

/* Medium size */
@media (min-width: 769px) {
    .quick-actions {
        display: flex;
        flex-direction: row;

        .qa-button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;

            flex-direction: column;
            gap: 1rem;
        }
    }
}

/* Larger size */
@media (min-width: 1024px) {
    .quick-actions {
        display: flex;
        flex-direction: column;
        
        margin-top: 1rem;
        width: 15rem;

        .qa-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;

            padding: 0.5em 1.5em;
            border-radius: 0.5em;
            color: #288bfd;
            box-shadow: none;
            
            flex: 0;
            border: 0;

            &.active {
                background-color: var(--color-secondary);
                color: var(--color-secondary-foreground);
            }

            svg.icon {
                color: #f84949;
                fill: #f84949;
            }
        }
    }
}