{% extends "_layouts/landing.html" %}

{# 
    About Us Page (root):
    - Note: this page is a web static
    - Page dedicated for knowing our vision and team
#}
{% block inclusion %}
    <title>PolyCast - About Us</title>
{% endblock %}



{# --- Landing Banner Header --- #}
{% block landing_header %}
    <h1>About Us,<br>Built With Purpose.</h1>
    <h2>Helping students learn smarter — not harder</h2>
{% endblock %}

{# --- Landing Banner Content --- #}
{% block landing_content %}

{% endblock %}