{% extends "_layouts/landing.html" %}

{# 
    Terms of Condition Page (root):
    - Note: this page is a web static
    - Page dedicated to learn our rules and scopes
#}
{% block inclusion %}
    <title>PolyCast - Terms and Conditions</title>
{% endblock %}



{# --- Landing Banner Header --- #}
{% block landing_header %}
    <h1>Terms and Conditions</h1>
    <h2>By accessing this website, you agree to comply with these terms.</h2>
{% endblock %}

{# --- Landing Banner Content --- #}
{% block landing_content %}

{% endblock %}