<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PolyCast - Error 500</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/web/error.css') }}">
    </head>

    <body class="error-page-body">
        <!-- Header -->
        <header class="error-header">
            <div class="error-header-content">
                <a href="{{ url_for('public.index') }}" class="error-logo">POLYCAST</a>
                <a href="{{ url_for('public.about_page') }}" class="error-nav-link">About Us</a>
            </div>
        </header>

        <!-- Main Error Content -->
        <main class="error-main">
            <div class="error-page-wrapper">
                <div class="content-block --error --error-500">
                    <div class="error-container">
                        <div class="error-left error-left-500">
                            <div class="error-placeholder"></div>
                        </div>
                        <div class="error-right error-right-500">
                            <h1 class="error-heading"><span class="error-code-prefix">{{ error_code }} Error:</span> {{ error_title }}</h1>
                            <p class="error-message">{{ error_message }}</p>
                            <a href="javascript:location.reload()" class="error-button">Reload the Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>