{% extends "_layouts/landing.html" %}

{# 
    Privacy Policy Page (root):
    - Note: this page is a web static
    - Page dedicated to know the privacy policy of our whole ecosystem
#}
{% block inclusion %}
    <title>PolyCast - Privacy Policy</title>
{% endblock %}



{# --- Landing Banner Header --- #}
{% block landing_header %}
    <h1>Privacy Policy</h1>
    <h2>How we collect, use, and protect your information.</h2>
{% endblock %}

{# --- Landing Banner Content --- #}
{% block landing_content %}

{% endblock %}