{% extends "_layouts/landing.html" %}

{# 
    Privacy Policy Page (root):
    - Note: this page is a web static
    - Page dedicated to know the privacy policy of our whole ecosystem
#}
{% block inclusion %}
    <title>PolyCast - Privacy Policy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/web/privacy.css') }}">
{% endblock %}



{# --- Landing Banner Header --- #}
{% block landing_header %}
    <h1>Privacy Policy</h1>
    <h2>How we collect, use, and protect your information.</h2>
{% endblock %}

{# --- Landing Banner Content --- #}
{% block landing_content %}
    {# 
        Warning all of the div inside this block should start with "content-block"
        - meaning all design should have a parent div class named "content-block"
        - check the example below
    #}
    <div class="content-block --privacy">
        <div class="placeholder">
            Place Holder
        </div>
    </div>

    <div class="content-block --privacy">
        {# 
            You can design your frontend freely inside the content block:
            - Note: the placeholder div below is just an example
            - Note: You can remove the placeholder and create your own div
        #}

        <div class="placeholder">
            Place Holder
        </div>

        <div class="placeholder">
            Place Holder
        </div>
    </div>
{% endblock %}