{% macro render_folder_card(folder, view_type) %}
<div class="folder-item">
    <div class="item-icon">
        <img src="{{ url_for('static', filename='images/icons/folder1.svg') }}">
    </div>
    <div class="item-info">
        <a href="{{ url_for('session_page', galleryname=folder.name) }}" class="folder-link-wrapper">
            <h3 class="item-title">{{ folder.name }}</h3>
        </a>
        <p class="item-subtitle">BSCPE 4-3</p>
    </div>

    <div class="item-actions">
        {% if view_type == 'trash' %}
            <button type="button" class="icon-button recover-gallery-btn" 
                    data-gallery-id="{{ folder.id }}" 
                    data-modal-target="#recoverGalleryModal"
                    data-recover-url="{{ url_for('recover_gallery', gallery_id=folder.id) }}">
                <img src="{{ url_for('static', filename='images/icons/recover.svg') }}" class="edit" width="21" height="21">
            </button>
            
            <button type="button" class="icon-button force-delete-btn"
                    data-gallery-id="{{ folder.id }}"
                    data-modal-target="#forceDeleteGalleryModal"
                    data-force-url="{{ url_for('force_delete_gallery', gallery_id=folder.id) }}">
                <img src="{{ url_for('static', filename='images/icons/trash-permanent.svg') }}" class="delete" width="21" height="21">
            </button>

        {% else %}
            <button type="button" class="icon-button edit-session-btn" 
                    data-gallery-id="{{ folder.id }}" 
                    data-gallery-name="{{ folder.name }}"
                    data-modal-target="#editGalleryModal">
                <img src="{{ url_for('static', filename='images/icons/edit2.svg') }}" class="edit" width="21" height="21">
            </button>
            
            <button type="button" class="icon-button delete-session-btn"
                    data-modal-target="#deleteGalleryModal"
                    data-delete-url="{{ url_for('delete_gallery', gallery_id=folder.id) }}">
                <img src="{{ url_for('static', filename='images/icons/trash.svg') }}" class="delete" width="21" height="21">
            </button>
        {% endif %}
    </div>
</div>
{% endmacro %}