{% extends "gallery/index.html" %}
{% from "_components/_folder_card.html" import folder_card %}

{% block gallery_content %}
    <div class="gallery-page-header">
        <div class="banner-illustration">
            <img src="{{ url_for('static', filename='images/gllry-fav.webp') }}" alt="Star Heart">
        </div>

        <div class="banner-content">
            <h2>Featured Collections.</h2>
            <p>Access special galleries and admin highlights at your fingertips.</p>
        </div>
    </div>

    <section class="folders">
        <h2 class="folders-title">Favorites</h2>
        
        <div class="folders-list">
            {% if folders %}  
                {% for folder in folders %}
                    {{ folder_card(folder) }}
                {% endfor %}
            {% else %}
                <div class="empty-state text-center p-5 text-muted bg-light rounded mt-3">
                    <p class="fs-5 mb-1">You haven't favorited any galleries yet.</p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}