{% extends "gallery/index.html" %}
{% from "_components/_folder_card.html" import folder_card %}

{% block gallery_content %}
    <div class="gallery-page-header">
        <div class="banner-illustration">
            <img src="{{ url_for('static', filename='images/gllry-bin.webp') }}" alt="Crumpled Paper">
        </div>

        <div class="banner-content">
            <h2>Recently Deleted Notes.</h2>
            <p>Automatic Cleanup of your notes, permanently deleted after 30 days.</p>
        </div>
    </div>

    <section class="folders">
        <h2 class="folders-title">Recycle Bin</h2>
        
        <div class="folders-list">
            {% if folders %}  
                {% for folder in folders %}
                    {{ folder_card(folder) }}
                {% endfor %}
            {% else %}
                <div class="empty-state text-center p-5 text-muted bg-light rounded mt-3">
                    <p class="fs-5 mb-1">The recycle bin is empty.</p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}