{% extends "gallery/index.html" %}
{% from "_components/_folder_card.html" import folder_card %}

{# 
    Page Note:
    This page is dedicated for all the galleries owned by the admin
    Meant for easier management and navigation compare to gallery/home
#}

{% block gallery_content %}
    <div class="gallery-page-header">
        <div class="banner-illustration">
            <img src="{{ url_for('static', filename='images/gllry-all.webp') }}" alt="Gallery Drawer">
        </div>

        <div class="banner-content">
            <h2>Admin Captured Galleries.</h2>
            <p>Most easiest way to manage each of your notes.</p>
        </div>

        <!-- <div class="banner-action">
            <button class="btn-chat">
                Let's Chat
                <svg class="btn-arrow" width="20" height="20">
                    <use href="#arrow-forward"></use>
                </svg>
            </button>
        </div> -->
    </div>

    <section class="folders">
        <h2 class="folders-title">My Galleries</h2>
        
        <div class="folders-list">
            {% if folders %}  
                {% for folder in folders %}
                    {{ folder_card(folder) }}
                {% endfor %}
            {% else %}
                <div class="empty-state">
                    <div class="empty-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m22 19-2 2H4l-2-2V6l2-2h6l2 3h8l2 2z"/>
                        </svg>
                    </div>
                    
                    <h3>No galleries yet!</h3>
                    <p>Start streaming to capture and organize your notes.</p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}