{% extends "gallery/index.html" %}
{% from "_components/_folder_card.html" import folder_card %}

{% block gallery_content %}
    <div class="gallery-page-header">
        <div class="banner-illustration">
            <img src="{{ url_for('static', filename='images/gllry-bin.webp') }}" alt="Crumpled Paper">
        </div>

        <div class="banner-content">
            <h2>Recently Deleted Notes.</h2>
            <p>Automatic Cleanup of your notes, permanently deleted after 30 days.</p>
        </div>
    </div>

    <section class="folders">
        <h2 class="folders-title">Recycle Bin</h2>
        
        <div class="folders-list">
            {% if folders %}  
                {% for folder in folders %}
                    {{ folder_card(folder) }}
                {% endfor %}
            {% else %}
                <div class="empty-state">
                    <div class="empty-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 7h16m-10 4v6m4-6v6M5 7l1 12 2 2h8l2-2 1-12M9 7V4l1-1h4l1 1v3"/>
                        </svg>
                    </div>
                    
                    <h3>All Clean!</h3>
                    <p>There are currently no galleries or sessions in the trash.</p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}