<!-- Stream Quick Actions -->
<section class="quick-actions">
    <a  href="{{ url_for('admin.index') }}"
        class="qa-button {% if request.endpoint == 'admin.index' %}active{% endif %}"
        data-icon-btn="config"
    >
        <svg class="qa-icon" width="20" height="20">
            <use href="#strm-qa-config"></use>
        </svg>
        <span>Config</span>
    </a>

    <a  href="{{ url_for('stream.index') }}"
        class="qa-button {% if request.endpoint == 'stream.index' %}active{% endif %}"
        data-icon-btn="live"
    >
        <svg class="qa-icon" width="20" height="20">
            <use href="#strm-qa-live"></use>
        </svg>
        <span>Live</span>
    </a>

    <a  href="{{ url_for('stream.playback') }}"
        class="qa-button {% if request.endpoint == 'stream.playback' %}active{% endif %}"
        data-icon-btn="playback"
    >
        <svg class="qa-icon" width="20" height="20">
            <use href="#strm-qa-playback"></use>
        </svg>
        <span>Playback</span>
    </a>
</section>
