<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <!--
        GALLERY - QUICK ACTIONS ICONS 
    -->
    <symbol id="gllry-qa-home" viewBox="0 0 360 368">
        <defs>
            <clipPath id="a">
                <path d="M6 14h347v334H6Zm0 0" />
            </clipPath>
        </defs>
        <g clip-path="url(#a)">
            <path
                d="M334 188h-14v145a15 15 0 0 1-16 14h-84v-99a10 10 0 0 0-4-9l-6-1h-61a10 10 0 0 0-10 10v99H55a15 15 0 0 1-10-4 15 15 0 0 1-5-10V188H25c-15 0-24-15-14-25L167 19a22 22 0 0 1 28 0l153 144c10 10 2 25-14 25m0 0"
            />
        </g>
    </symbol>

    <symbol id="gllry-qa-folder" viewBox="0 0 360 368">
        <defs>
            <clipPath id="a">
                <path d="M0 36h360v288H0Zm0 0"/>
            </clipPath>
        </defs>
        <g clip-path="url(#a)">
            <path d="M144 36H36C16 36 0 52 0 72v216c0 20 16 36 36 36h288c20 0 36-16 36-36V108c0-20-16-36-36-36H180Zm0 0"/>
        </g>
    </symbol>

    <symbol id="gllry-qa-favorite" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 2 3 5 1 1 6 1v1l-4 3-1 2 1 5v1q0 0 0 0l-5-2h-2l-5 2q0 0 0 0v-1l1-5-1-2-4-3V9q0 0 0 0l6-1 1-1z"/>
    </symbol>

    <symbol id="gllry-qa-trash" viewBox="0 0 360 368">
        <defs>
            <clipPath id="a">
                <path d="M44 9h273v342H44Zm0 0"/>
            </clipPath>
        </defs>
        <g clip-path="url(#a)">
            <path d="M317 52v17q-1 8-9 9H52q-8-1-8-9V52q0-8 8-8h77V27q2-16 17-18h68q16 2 17 18v17h77q8 0 9 8M75 319c2 18 17 32 35 32h141c18 0 33-14 34-32l14-207H61Zm0 0"/>
        </g>
    </symbol>


    <!--
        GALLERY - FOLDER ICONS
    -->
    <symbol id="gllry-folder-edit" viewBox="0 -960 960 960">
        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120zm160-240v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5-5.5 29.5T897-728L530-360zm481-424-56-56zM440-440h56l232-232-28-28-29-28-231 231zm260-260-29-28zl28 28z"/>
    </symbol>

    <symbol id="gllry-folder-star" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.3 4.4q.3-.8.5-.8.2-.1.4 0 .3 0 .5.8l1.9 4.1.1.3.2.2h.3l4.5.5q.9 0 1 .2.2.2.1.4 0 .3-.6.8l-3.4 3-.2.3v.5l1 4.4v1l-.4.3-.9-.4-3.9-2.3-.3-.1h-.2l-.3.1-4 2.3-.8.4-.4-.3v-1l1-4.4v-.5l-.2-.3-3.4-3q-.6-.5-.6-.8l.1-.4 1-.2L8.8 9H9l.2-.2.1-.3z"/>
    </symbol>
    
    <symbol id="gllry-folder-bins" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 6v10.2c0 1.7 0 2.5-.3 3.2a3 3 0 0 1-1.3 1.3c-.7.3-1.5.3-3.2.3h-2.4q-2.3 0-3.2-.3a3 3 0 0 1-1.3-1.3c-.3-.7-.3-1.5-.3-3.2V6M4 6h16m-4 0-.3-.8q-.3-1.1-.6-1.5l-.8-.6-1.6-.1h-1.4l-1.6.1-.8.6q-.3.4-.6 1.5L8 6"/>
    </symbol>

    <symbol id="gllry-folder-rev" viewBox="0 0 24 24">
        <path d="M20 13q-1 0-1-1a7 7 0 0 0-7-7Q9.1 5 7 7q-.6.6-1.4 0a1 1 0 0 1 0-1.4A9 9 0 0 1 12 3c5 0 9 4 9 9q0 1-1 1m-8 8c-5 0-9-4-9-9q0-1 1-1c1 0 1 .4 1 1a7 7 0 0 0 7 7q2.9 0 5-2a1 1 0 0 1 1.4 0q.6.7 0 1.4A9 9 0 0 1 12 21"/>
        <path d="m20 13-.6-.2-3.4-2.5a1 1 0 0 1-.2-1.4 1 1 0 0 1 1.4-.2l3.4 2.5q.6.6.2 1.4a1 1 0 0 1-.8.4"/>
        <path d="m20 13-.6-.2a1 1 0 0 1-.2-1.4L21.7 8a1 1 0 0 1 1.4-.2q.6.6.2 1.4l-2.5 3.4a1 1 0 0 1-.8.4M7.4 15.5l-.6-.2-3.4-2.5a1 1 0 0 1-.2-1.4q.5-.6 1.4-.2L8 13.7q.6.6.2 1.4a1 1 0 0 1-.8.4"/>
        <path d="m1.5 16.4-.6-.2a1 1 0 0 1-.2-1.4l2.5-3.4q.5-.6 1.4-.2.6.6.2 1.4L2.3 16a1 1 0 0 1-.8.4"/>
    </symbol>
    
    <symbol id="gllry-folder-del" fill="none" viewBox="0 0 24 24">
        <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M13 4H8.8c-1.7 0-2.5 0-3.2.3a3 3 0 0 0-1.3 1.3C4 6.3 4 7.1 4 8.8v6.4q0 2.3.3 3.2.5.8 1.3 1.3c.7.3 1.5.3 3.2.3h6.4q2.3 0 3.2-.3a3 3 0 0 0 1.3-1.3q.4-.9.3-3.2V11"/>
            <path d="m4 16 4.3-4.3a1 1 0 0 1 1.4 0L13 15m0 0 2.8-2.8a1 1 0 0 1 1.4 0L20 15m-7 0 2.3 2.3M17 3l2 2m2 2-2-2m0 0 2-2m-2 2-2 2"/>
        </g>
    </symbol>

    <!--
        SESSION - GALLERY BANNER
    -->
    <symbol id="gllry-banner-back" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="15 18 9 12 15 6"/>
    </symbol>

    <symbol id="gllry-banner-folder" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
        <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"/>
    </symbol>
    
    <symbol id="gllry-banner-info" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="10"/>
        <line x1="12" y1="8" x2="12" y2="8" stroke-width="3" stroke-linecap="round"/>
        <path d="M12 12v4"/>
    </symbol>
    
    <symbol id="gllry-banner-detail" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
        <path d="M17 10H3m18-4H3m18 8H3m10 4H3"/>
    </symbol>



    <symbol id="gllry-calendar" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 7h16m-10 4v6m4-6v6M5 7l1 12 2 2h8l2-2 1-12M9 7V4l1-1h4l1 1v3"/>
    </symbol>





    <symbol id="view-header-photo" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
        <rect width="18" height="18" x="3" y="3" rx="2"/>
        <circle cx="8.5" cy="8.5" r="1.5"/>
        <path d="m21 15-5-5L5 21"/>
    </symbol>

    <symbol id="view-header-share" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
        <circle cx="18" cy="5" r="3"/>
        <circle cx="6" cy="12" r="3"/>
        <circle cx="18" cy="19" r="3"/>
        <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"/>
        <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"/>
    </symbol>

    <symbol id="view-header-download" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4m4-5 5 5 5-5m-5 5V3"/>
    </symbol>
</svg>