<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol id="gllry-qa-home" viewBox="0 0 360 368">
        <defs>
            <clipPath id="a">
                <path d="M6 14h347v334H6Zm0 0" />
            </clipPath>
        </defs>
        <g clip-path="url(#a)">
            <path
                d="M334 188h-14v145a15 15 0 0 1-16 14h-84v-99a10 10 0 0 0-4-9l-6-1h-61a10 10 0 0 0-10 10v99H55a15 15 0 0 1-10-4 15 15 0 0 1-5-10V188H25c-15 0-24-15-14-25L167 19a22 22 0 0 1 28 0l153 144c10 10 2 25-14 25m0 0"
            />
        </g>
    </symbol>

    <symbol id="gllry-qa-folder" viewBox="0 0 360 368">
        <defs>
            <clipPath id="a">
                <path d="M0 36h360v288H0Zm0 0"/>
            </clipPath>
        </defs>
        <g clip-path="url(#a)">
            <path d="M144 36H36C16 36 0 52 0 72v216c0 20 16 36 36 36h288c20 0 36-16 36-36V108c0-20-16-36-36-36H180Zm0 0"/>
        </g>
    </symbol>

    <symbol id="gllry-qa-favorite" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 2 3 5 1 1 6 1v1l-4 3-1 2 1 5v1q0 0 0 0l-5-2h-2l-5 2q0 0 0 0v-1l1-5-1-2-4-3V9q0 0 0 0l6-1 1-1z"/>
    </symbol>

    <symbol id="gllry-qa-trash" viewBox="0 0 360 368">
        <defs>
            <clipPath id="a">
                <path d="M44 9h273v342H44Zm0 0"/>
            </clipPath>
        </defs>
        <g clip-path="url(#a)">
            <path d="M317 52v17q-1 8-9 9H52q-8-1-8-9V52q0-8 8-8h77V27q2-16 17-18h68q16 2 17 18v17h77q8 0 9 8M75 319c2 18 17 32 35 32h141c18 0 33-14 34-32l14-207H61Zm0 0"/>
        </g>
    </symbol>
</svg>