<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol id="chevron-down" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="m17 10-5 5-5-5"/>
    </symbol>
    
    <symbol id="arrow-forward" viewBox="0 -960 960 960">
        <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/>
    </symbol>

    <symbol id="close-button" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.2" viewBox="0 0 24 24">
        <path d="M18 6 6 18M6 6l12 12"/>
    </symbol>

    <symbol id="chevron-right" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 18 6-6-6-6"/>
    </symbol>
</svg>