<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PolyCast | Config</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    <!-- Page-specific styles will go here -->
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Navigation -->
    <nav>
        <ul>
            {% if is_setup %}
                <li><a href="#">🎞️</a></li>
                <li><a href="#">📂</a></li>
            {% endif %}
            
            <li><a href="{{ url_for('gallery_page') }}">📸</a></li>
        </ul>
    </nav>

    <!-- Main content -->
    <main>
        {% block content %}
            <!-- Page-specific content will go here -->

        {% endblock %}
    </main>


    <script>
        // Optional: Add active state toggle
        const links = document.querySelectorAll('nav a');
        links.forEach(link => {
        link.addEventListener('click', () => {
            links.forEach(l => l.classList.remove('active'));
            link.classList.add('active');
        });
        });
    </script>
</body>
</html>