{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{% block content %}
    <div class="gallery-wrap">
        <div>
            <h1>Gallery</h1>
        </div>

        <p>Please choose a folder:</p>

        <div class="folder-ctn">
            <div>
                </div>

            <div class="folder-wrapper">
                
                {% if folders %}  
                    {% for folder in folders %}
                        <a href="#" class="folder-link-wrapper">
                            <div class="folder-card">
                                <div class="folder-icon">
                                    <i class="icon-placeholder">
                                        <img src="{{ url_for('static', filename='images/folder.png') }}" alt="Folder Icon">
                                    </i> 
                                </div>
                                
                                <div class="folder-detail">
                                    <div class="folder-name">{{ folder }}</div> <div class="folder-tag">Contains all files</div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <p>No gallery folders found. Add some folders to 'static/gallery_images' to get started!</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}