<!-- Header -->
<!-- 
    NOTE (header type):
    - "index" means the landing page template layout
    - "base" means the standard layout for operations
-->

{% macro layout_header(template_type='base') %}

    <header class="app-wrapper">
        <!-- Header -->
        <div class="app-header">
            <a href="{{ url_for('public.index') }}">
                <img class='header-logo' src="../../static/images/icons/polycast-blue.svg">
            </a>

            {% if template_type == 'base' %}
                <div class="right-header base">
                    <img src="{{ url_for('static', filename='images/icons/' ~ ('admin-icon.svg' if is_admin else 'guest-icon.svg')) }}" 
                        alt="Profile Picture" 
                        class="header-profile"
                        id="profileBtn"
                        data-modal-target="#profileModal"
                        style="cursor: pointer;">
                    <div class="profile-info">
                        <p class="name">Dummy Name</p>
                        <p class="role">Role</p>
                    </div>

                    <!-- chevron logo -->
                    <svg class="chevron" width="28" height="28">
                        <use href="#header-chevron"></use>
                    </svg>
                </div>
            {% endif %}
            
            {% if template_type == 'index' %}
                <div class="right-header index">
                    <a href="{{ url_for('public.about_page') }}" class='about-us'>
                        About Us
                    </a>

                    <a href="{{ url_for('stream.client_page') }}" class='client'>
                        Client
                        <svg class="header-btn-arrow" width="20" height="20">
                            <use href="#arrow-forward"></use>
                        </svg>
                    </a>
                </div>
            {% endif %}
        </div>
        
        {% if template_type == 'base' %}
            <!-- Navigation Tabs -->
            <nav class="app-navigation">
                <a class="app-tab {% if request.endpoint in ['stream.client_page', 'stream.index', 'admin.index'] %}active{% endif %}"
                href="{{ url_for('admin.index') if is_admin else url_for('stream.index') }}">
                    Stream
                </a>
                
                <a class="app-tab {% if request.endpoint in ['gallery.index', 'gallery.session_page', 'gallery.view_page'] %}active{% endif %}"
                href="{{ url_for('gallery.index') }}">
                    Gallery
                </a>
            </nav>
        {% endif %}
    </header>

{% endmacro %}