<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign In - Polycast</title>
        
        <!-- Auth Template Styling -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    </head>
    
    <body>
        <div class="auth-ctn">
            <div class="auth-wrapper">
                <!-- Logo Header (Mobile Only) -->
                <header class="logo-header">
                    <image src="{{ url_for('static', filename='images/icons/polycast-white.svg') }}">
                </header>
                
                <!-- Main Sign-In Card -->
                <main class="auth-container">
                    <div class="auth-card">
                        <h2>{% block card_header %}{% endblock %}</h2>
                        
                        {% block card_content %}
                            <!-- Content  -->

                        {% endblock %}
                    </div>
                </main>

            </div>

            <!-- Brand Panel (Desktop Only) -->
            <div class="brand-panel">
                <div class="brand-glow"></div>
                <h1 class="brand-title">POLYCAST</h1>
            </div>
        </div>
    </body>
    
</html>