{% extends "base.html" %}

{# 
    NOTE:
    This page is a base template variant, 
    it just have  a quick menu for all the gallery pages...
#}

{% block content_header %}
    <section class="quick-actions">
        <a href="{{ url_for('gallery_page', view='all') }}" 
           class="qa-button {% if active_view == 'all' %}active{% endif %}" 
           data-icon-btn="home">
            <svg class="qa-icon" width="20" height="20">
                <use href="#gllry-qa-home"></use>
            </svg>
            <span>Home</span>
        </a>
        
        <a href="{{ url_for('gallery_page', view='folders') }}" 
           class="qa-button {% if active_view == 'folders' %}active{% endif %}" 
           data-icon-btn="folder">
            <svg class="qa-icon" width="20" height="20">
                <use href="#gllry-qa-folder"></use>
            </svg>
            <span>Folders</span>
        </a>

        <a href="{{ url_for('gallery_page', view='favorites') }}" 
           class="qa-button {% if active_view == 'favorites' %}active{% endif %}" 
           data-icon-btn="favorites">
            <svg class="qa-icon" width="20" height="20">
                <use href="#gllry-qa-favorite"></use>
            </svg>
            <span>Favorites</span>
        </a>

        <a href="{{ url_for('gallery_page', view='trash') }}" 
           class="qa-button {% if active_view == 'trash' %}active{% endif %}" 
           data-icon-btn="trash">
            <svg class="qa-icon" width="20" height="20">
                <use href="#gllry-qa-trash"></use>
            </svg>
            <span>Trash</span>
        </a>
    </section>
{% endblock %}