<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Polycast UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
    
    <!-- Google Font (Inter) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

    <!-- Page-specific styles will go here -->
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Header -->
    <header class="app-header">
        <a href="{{ url_for('index') }}">
            <image class='header-logo' src="../../static/images/icons/polycast-blue.svg">
        </a>
        <div class="right-header">
            <img src="../../static/images/icons/profile1.svg" 
                alt="Profile Picture" 
                class="header-profile">
            <a href="{{ url_for('logout_page') }}">
                <image class="logout" src="../static/images/icons/exit.svg">
            </a>
        </div>
    </header>

    <!-- Navigation Tabs -->
    <nav class="app-navigation">
        {% for tab_name, tab_data in nav_tabs.items() %}
            <a class="app-tab {% if request.endpoint in tab_data.endpoints %}active{% endif %}"
            href="{{ tab_data.url }}">
                {{ tab_name }}
            </a>
        {% endfor %}
    </nav>

    <!-- Main content -->
    <main class="main-content">
        {% block content %}
            <!-- Page-specific content will go here -->

        {% endblock %}
    </main>
    
    
</body>
</html>